:root {
    --primary:#d9825c;
    --primary-hover: #e09b76;
    --link: #007acc;
    --text: #333;
    --background: #f9f9f9;
    --header-background: rgb(243, 243, 243);
    --gray: rgb(220, 220, 220);
}

[data-theme="dark"] {
    --text: #f9f9f9;
    --background: #242120; 
    --header-background: rgb(43, 43, 43);
    --gray: rgb(50, 50, 50);
}

body {
    color: var(--text);
    background-color: var(--background);
}

hr {
    background: var(--text);
    opacity: 0.2;
}   

.hero {
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 5px;
}

.formkit-powered-by-convertkit-container {
    display: none !important;
}

.formkit-form[data-uid="07eaaed918"] div {
    padding-top: 0px !important;
}

.credit {
    margin-bottom: 2em;
    display: inline-block;
    position: relative;
    top: -1em;
    font-style: italic;
}

#testimonialto-carousel-code-review-champion-embracing-the-power-of-technical-feedback-tag-all-light {
    height: 600px;
}

.main ol, ul {
    margin-left: 14px;
}

/* .book-review-wrapper:nth-child(odd) {
    flex-direction: row-reverse;
}

.book-review-wrapper:nth-child(odd) .book-review-content {
    margin-right: 20px !important;
}

.book-review-wrapper:nth-child(odd) .book-review-image {
    margin-right: 0px !important;
} */